################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/0e78fcb5-8445-47a4-ac05-968aa6499c62.vsidx
/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/5d69d47e-aa42-41e6-b498-81b3813ec6a4.vsidx
/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/912390e9-19ff-41e1-b01c-5ab93267934f.vsidx
/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/9d930513-9981-40ce-8a50-772aa011d955.vsidx
/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/a303a8c8-9f3f-4118-b668-5e9180889fe1.vsidx
