################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE_Sistema_Ventas/.vs/BE_Sistema_Ventas/FileContentIndex/0e78fcb5-8445-47a4-ac05-968aa6499c62.vsidx
